[user]
	name = Onishi Takeshi
	email = march.hare.come@gmail.com
[core]
	excludesfile = /Users/onishi_takeshi/dotfiles/.gitignore_global
	autocrlf = input  
	editor = /Applications/MacVim.app/Contents/MacOS/mvim -f
	
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color]
	ui = true

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line

[push]
  default = upstream #git branch -u xx/xx

[alias]
  st = status -sb
  sh = show
  ci = commit
  co = checkout
  br = branch
  logal = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  loga = log -30 --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  dif = diff
  d1 = diff HEAD~           
  d2 = diff HEAD~~          
  d3 = diff HEAD~~~         
  d4 = diff HEAD~~~~        
  d5 = diff HEAD~~~~~       
  d10 = diff HEAD~~~~~~~~~~ 
