[user]
	name = Onishi Takeshi
	email = march.hare.come@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input  
  safecrlf = true
	
[color]
	ui = true

[push]
  default = simple #一応指定(1.7.11以降不要)

[alias]
  st = status -sb
  sh = show
  ci = commit
  co = checkout
  br = branch
  logal = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  loga = log -30 --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  dif = diff
  d1 = diff HEAD~           
  d2 = diff HEAD~~          
  d3 = diff HEAD~~~         
  d4 = diff HEAD~~~~        
  d5 = diff HEAD~~~~~       
  d10 = diff HEAD~~~~~~~~~~ 
